Load the [GSM8k dataset](https://huggingface.co/datasets/openai/gsm8k) from Hugging Face as a pandas DataFrame.

In [10]:
import pandas as pd
from datasets import load_dataset

dataset = load_dataset(path="gsm8k", name="main")

df = pd.concat(
    [
        dataset["train"].to_pandas().assign(split="train"),
        dataset["test"].to_pandas().assign(split="test"),
    ],
    ignore_index=True,
).reset_index(names="idx")

print(f"Number of rows: {len(df)}")
df.head()

Number of rows: 8792

,idx,question,answer,split
0,0,Natalia sold clips to 48 of her friends in Apr...,Natalia sold 48/2 = <<48/2=24>>24 clips in May...,train
1,1,Weng earns $12 an hour for babysitting. Yester...,Weng earns 12/60 = $<<12/60=0.2>>0.2 per minut...,train
2,2,Betty is saving money for a new wallet which c...,"In the beginning, Betty has only 100 / 2 = $<<...",train
3,3,"Julie is reading a 120-page book. Yesterday, s...",Maila read 12 x 2 = <<12*2=24>>24 pages today....,train
4,4,James writes a 3-page letter to 2 different fr...,He writes each friend 3*2=<<3*2=6>>6 pages a w...,train

In [11]:
type(df["question"])

pandas.core.series.Series

View the train split.

In [2]:
df_train = df[df["split"] == "train"]

print(f"Number of rows: {len(df_train)}")
df_train.head()

Number of rows: 7473

,idx,question,answer,split
0,0,Natalia sold clips to 48 of her friends in Apr...,Natalia sold 48/2 = <<48/2=24>>24 clips in May...,train
1,1,Weng earns $12 an hour for babysitting. Yester...,Weng earns 12/60 = $<<12/60=0.2>>0.2 per minut...,train
2,2,Betty is saving money for a new wallet which c...,"In the beginning, Betty has only 100 / 2 = $<<...",train
3,3,"Julie is reading a 120-page book. Yesterday, s...",Maila read 12 x 2 = <<12*2=24>>24 pages today....,train
4,4,James writes a 3-page letter to 2 different fr...,He writes each friend 3*2=<<3*2=6>>6 pages a w...,train

View the test split.

In [3]:
df_test = df[df["split"] == "test"]

print(f"Number of rows: {len(df_test)}")
df_test.head()

Number of rows: 1319

,idx,question,answer,split
7473,7473,Janet’s ducks lay 16 eggs per day. She eats th...,Janet sells 16 - 3 - 4 = <<16-3-4=9>>9 duck eg...,test
7474,7474,A robe takes 2 bolts of blue fiber and half th...,It takes 2/2=<<2/2=1>>1 bolt of white fiber\nS...,test
7475,7475,Josh decides to try flipping a house. He buys...,The cost of the house and repairs came out to ...,test
7476,7476,James decides to run 3 sprints 3 times a week....,He sprints 3*3=<<3*3=9>>9 times\nSo he runs 9*...,test
7477,7477,"Every day, Wendi feeds each of her chickens th...","If each chicken eats 3 cups of feed per day, t...",test